{
  "presets": [
    "module:metro-react-native-babel-preset",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@core": "./src/core/",
        }
      }
    ],
    "babel-plugin-styled-components"
  ]
}
